* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  background-color: #fff;
}

img {
  max-width: 100%;
}

.container {
  max-width: 1290px;
  margin: 0 auto;
}

a {
  text-decoration: none;
}

.drop-down {
  z-index: 1000;
  position: fixed;
  display: none;
  flex-direction: column;
  align-items: center;
  left: 0;
  right: 0;
  top: 0;
  height: 100vh;
  background-color: rgba(74, 69, 126, 0.5);
  padding: 29px 40px;
}

.drop-down-open {
  display: flex;
}

.drop-down-bars {
  align-self: flex-end;
  cursor: pointer;
  opacity: 0;
  height: 50px;
  width: 50px;
}

.drop-down-nav {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.drop-down-link {
  font-size: 23px;
  font-style: normal;
  font-weight: 700;
  line-height: 1.2142857143em;
  letter-spacing: -0.02em;
  margin-bottom: 30px;
  color: #fff;
}
.drop-down-link:active {
  color: #4A457E;
}
.drop-down-link:hover {
  text-shadow: 0 0 20px #fff;
}

.drop-down-link:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1300px) {
  .drop-down-open {
    display: none;
  }
}
.header {
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  z-index: 500;
  background: rgba(255, 255, 255, 0.55);
  box-shadow: 0px 4px 15px rgba(0, 0, 0, 0.25);
}

.header-container {
  padding: 20px 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  display: flex;
  align-items: center;
}

.logo-image {
  margin-right: 20px;
}

.name {
  font-style: normal;
  font-weight: 600;
  font-size: 14px;
  line-height: 1.2142857143em;
  letter-spacing: -0.02em;
  color: #4A457E;
}

.nav {
  display: none;
}

.number,
.nav-link {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: -0.02em;
  color: #4A457E;
}

.phone:hover {
  text-shadow: #4A457E 0 0 20px;
}

.nav-link {
  margin-right: 31px;
  border-bottom: none;
}
.nav-link:hover {
  border-bottom: #4A457E 3px solid;
}

.nav-link:last-child {
  margin-right: 0;
}

.phone {
  display: none;
  align-items: center;
}

.phone-img {
  margin-right: 20px;
}

.bars {
  cursor: pointer;
}

@media screen and (min-width: 1300px) {
  .name {
    font-size: 18px;
  }

  .nav {
    display: block;
  }

  .bars {
    display: none;
  }

  .phone {
    display: flex;
  }
}
.main-section {
  max-width: 100vw;
  height: 100vh;
  background: url("../img/upperBackground.jpg") no-repeat;
  background-size: cover;
}

.main-section-container {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  padding: 0 10px 28px;
  height: inherit;
}

.specialization {
  font-style: normal;
  font-weight: bold;
  font-size: 48px;
  line-height: 1em;
  letter-spacing: -0.02em;
  margin-bottom: 10px;
  color: #FFFFFF;
}



.full-name {
  font-style: normal;
  font-weight: normal;
  font-size: 36px;
  line-height: 1.46em;
  letter-spacing: -0.02em;
  color: #FFFFFF;
}

@media screen and (min-width: 500px) {
  .main-section-container {
    padding-left: 110px;
  }
}
@media screen and (min-width: 1300px) {
  .main-section-container {
    padding: 0 40px 48px;
  }

  .specialization {
    margin-bottom: 30px;
    font-size: 56px;
  }

  .full-name {
    font-size: 56px;
  }
}

.about-section-container {
  padding: 120px 10px 80px;
  display: flex;
  flex-direction: column;

}

.photo-wrapper {
  text-align: center;
}

.photo {
  margin-bottom: 54px;
  box-shadow: 10px 15px 30px 5px rgba(101, 42, 119, 0.33);
  border-radius: 50%;
}
.section-about-all {
margin-top: 100px;
}

.section-about-title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  text-align: left;
  letter-spacing: -0.02em;
  color: #4A457E;
  margin-bottom: 20px;
}

.section-about-description {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 1.46em;
  display: flex;
  align-items: center;
  text-align: justify;
  letter-spacing: -0.02em;
  font-feature-settings: "case" on;
  color: #4A457E;
}

@media screen and (min-width: 500px) {
  .about-section-container {
    padding: 120px 86px 144px;
  }
}
@media screen and (min-width: 1300px) {
  .about-section-container {
    padding:120px 40px 190px;
    flex-direction: row-reverse;
    justify-content: space-between;
  }

  .section-about-title {
    margin-bottom: 40px;
  }

  .photo {
    width: 500px;
    height: 500px;
    margin-bottom: 0;
  }

  .section-about-description {
    max-width: 522px;
  }
}
.skills-section {
  background: rgba(159, 154, 214, 0.3);
}

.skills-section-container {
  padding: 110px 10px 4px;
}

.section-skills-title {
  margin-bottom: 65px;
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #4A457E;
}

.skills {
  display: grid;
  grid-template-columns: 1fr;
  align-items: center;
}

.skill {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 74px;
  width: 100%;
}

.skill-title {
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  letter-spacing: -0.02em;
  max-width: 335px;
  color: #4A457E;
  margin-bottom: 24px;
}

.skill-img {
  position: relative;
  width: 150px;
  height: 150px;
  display: flex;
  align-items: flex-end;
}
.skill-img:hover {
  filter: drop-shadow(4px 4px 1px rgba(0, 0, 0, 0.25));
}

.skill-position-center {
  position: absolute;
  right: 0;
  left: 0;
  top: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.skill-progress {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #4A457E;
}

@media screen and (min-width: 800px) {
  .skills {
    grid-template-columns: 1fr 1fr;
  }
}
@media screen and (min-width: 1300px) {
  .skills-section-container {
    padding: 110px 40px 51px;
  }

  .skills {
    grid-template-columns: 1fr 1fr 1fr;
  }
}
.education-section-container {
  padding: 110px 10px 65px;
}

.education-section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  margin-bottom: 70px;
  text-align: center;
  color: #4A457E;
}

.education-body {
  padding: 20px 10px 20px 48px;
  position: relative;
}

.education-body:before {
  content: "";
  display: block;
  position: absolute;
  left: 0;
  top: 0;
  bottom: 0;
  width: 15px;
  background: #4A457E;
  border-radius: 15px;
}

.education {
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 1.25em;
  letter-spacing: -0.02em;
  color: #4A457E;
}

.education:first-child {
  margin-bottom: 83px;
}

.years {
  display: block;
}

@media screen and (min-width: 500px) {
  .education-section-container {
    padding: 110px 118px 65px 113px;
  }
}
@media screen and (min-width: 1300px) {
  .education-section-container {
    padding: 110px 40px 270px;
  }
}
.achievements-section {
  background: rgba(159, 154, 214, 0.3);
}

.achievements-section-container {
  padding: 110px 10px 76px;
}

.achievements-section-title {
  font-style: normal;
  font-weight: 600;
  font-size: 36px;
  line-height: 44px;
  letter-spacing: -0.02em;
  text-align: center;
  color: #4A457E;
  margin-bottom: 52px;
}

.achievements {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.achievement {
  margin-bottom: 99px;
}
.achievement:hover {
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.4));
}

.achievement:last-child {
  margin-bottom: 0;
}

@media screen and (min-width: 1300px) {
  .achievements-section-container {
    padding: 110px 40px 76px;
  }

  .achievements {
    align-items: center;
    flex-direction: row;
    justify-content: space-between;
  }

  .achievement {
    margin-bottom: 0;
  }
}
.footer-container {
  padding: 35px 10px;
}

.copyright {
  display: flex;
  align-items: center;
}

.copyright-img {
  height: 27px;
  width: 30px;
  margin-right: 21px;
}

.copyright-text {
  font-style: normal;
  font-weight: 300;
  font-size: 24px;
  line-height: 29px;
  letter-spacing: -0.02em;
  color: #4A457E;
}

@media screen and (min-width: 500px) {
  .footer-container {
    padding: 35px 60px;
  }
}
@media screen and (min-width: 1300px) {
  .footer-container {
    padding: 35px 40px;
  }
}

/*# sourceMappingURL=index.css.map */
